body {
  background-color: rgb(202, 45, 45);
  margin-left: 10%;
  margin-right: 10%;
}



h1 {
  margin: 3rem;
  border-bottom: 2px solid gray;
}

.results {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}

.results ul {
  list-style: none;
  font-size: 25px;
  line-height: 4;

}

footer {
  margin-top: 10rem;
}